<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class=""><%= @list.name%></h1>
      <div class="my-buttons">
        <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-outline-primary btn-md mb-4'%>
        <%= link_to 'Delete this list', list_path(@list), 
          method: :delete, 
          data: { confirm: 'Are you sure you want to perform this action?' },
          class: 'btn btn-outline-danger btn-md mb-4' %>
      </div>
  </div>

      <div class="row d-flex justify-content-between py-5">
        <% @list.bookmarks.each do |bookmark|%>
         
          <div class="card-trip">
            <img src="<%= bookmark.movie.poster_url %>" />
              <div class="card-trip-infos">
                <div>
                  <h2 class="mb-2"><%= bookmark.movie.title%> <span class="rating-star"> <%= bookmark.movie.rating%> <i class="fas fa-star"></i></span></h2>
                  <p><%= bookmark.movie.overview%></p>
                </div>
              </div>
                <div class="card-body">
                <p class="card-text comment"> <span class="quote"><i class="fas fa-quote-left"></i></span> <%= bookmark.comment%> </p>
                </div>
            </div>
        <% end %>
      </div>

    <div class="row">
      <div class="container mt-3">
        <h1>Add a bookmark</h1>
        <%= render "form-movies" %>
      </div>
    </div>
    <hr>

    <div class="container mt-3">
      <div class="row">

          <div class="col-6">
          <h2>Reviews</h2>
          <% @list.reviews.each do |review|%>
            <div class="notification">
             <img src='https://kitt.lewagon.com/placeholder/users/chrisgeek07' class="avatar-large"/>
              <div class="notification-content">
                <p>
                   <small>Rating: <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                   <% end %>
                   </small>
                </p>
                <p><%= review.comment %></p>
              </div>

              <div class="notification-actions">
                <a href="#">Delete <i class="far fa-trash-alt"></i></a>
              </div>
              <hr>
            </div>
            <% end %>
          </div>

          <div class="col-6">
            <h2>Add a review</h2>
            <%= render "form-reviews" %>
          </div>

      </div>
    </div>
</div>

